html, body {
    height: 100%;
    margin: 0;
    padding: 0;
}

aside{
	width:40%;
	float:left;
}
content{
	width: 60%;
	float: right;
}
#map-canvas{
	width: 100%;
	height: auto;
	border: solid 1px blue;
}
#content{
	margin:5%;
	height: 60%;
	border: solid 1px red;
}
#tainan, #lukang, #dulan{
	display: none;
}
#banner{
	height:150px;
	width: 100%;
	border: solid 1px black;
}
#banner img{
	height:100%;
	width: 100%;
}
#nav{
	height: 150px;
	width:100%;
	border: solid 1px green;
}
#nav li{
	display: inline-block;
	text-align: center;
}
a > div {
	margin: 0 20px ;
	padding: 10px 16px;
	text-align: center;
	cursor:pointer;
	border: 1px solid #333;
	border-radius: 6px;
	text-decoration: none;
} 